*{box-sizing: border-box;
    font-family: 'Lucida Sans';}
    p{; font-weight: bold;}
    html,body{
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
             }
         body{background-repeat: no-repeat;background-size: cover;background-image:url(./bm-bg11.jpg);}
         
          /*  .one  {display: flex;
                  width: 70%;
                  justify-content: space-around;
                 }
                 .second{display:flex;
                width: 70%;
                justify-content: space-around;}*/
    
            .first, .second, .third, .fourth{display: flex; flex-direction:row;  justify-content: space-between;}
        .one, .two, .three,  .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve
                  {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    padding: 80px;
                  }
    r
    
                @media screen and (min-width:100px) {
                    .first .second .third .fourth{grid-template-columns: repeat(3,1fr);}
                 }
                 @media screen and (min-width: 100px)
                 {
                   .first .second .third .fourth{
                         display: grid;
                         grid-template-columns: repeat(2,1fr);
                        row-gap: 3rem; column-gap: 5rem;
                    }}
    
                    .first{margin-top: 5rem; } .second .third .fourth{margin-top: 5rem; } 
    
            .card{width: 280px;
                  height: 360px;
                  padding: 2rem 1rem;
                  background: #fff;
                  position: relative;
                  display: flex;
                  align-items: flex-end;
                  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
                  transition: 0.5s ease-in-out;
                } 
           .card:hover{transform: translateY(20px);}   
           
           .card::before{
                         content: "";
                         position: absolute;
                         top: 0;
                         left: 0;
                         display: block;
                         width: 100%;
                         height: 100%;
                         background: linear-gradient(to bottom,rgba(245, 229, 193, 0.5),rgba(124, 105, 73, 0.5) );
                         z-index: 2;
                         transition: 0.5s all;
                         opacity: 0;
                        }
        .card:hover::before{opacity:1;}
        .card img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
          .card .info{
                      position: relative;
                      z-index: 3;
                      color: rgb(255, 254, 254);
                      opacity: 0;
                      transform: translateY(30px);
                      transition: 0.5s all;
                    } 
           .card:hover .info{opacity: 1;
                             transform: translateY(0px);
                            } 
         .card .info .btn{
                         text-decoration: none;
                         padding: 0.5rem 1rem;
                         background: rgb(255, 199, 131);
                         color: #000;
                         font-size: 14px;
                         font-weight: bold;
                         cursor: pointer;
                         transition: 0.4s ease-in-out;
                        }  
        .card .info .btn:hover{box-shadow:0px 7px 10px rgba(0, 0, 0, 0.5); ;}          
        .btn{border-radius: 1rem;  } 
    