*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;

}

:root{
    --bg-color: #ffffff;
    --second-bg-color:#f9f9f9;
    --text-color:#fff;
    --second-color:#161616;
    --main-color:#ee7744;
    --other-color:#6a6a6a;
    --h2-font:3.8rem;
    --p-font:1rem;
    ;
}

.dropbtn {
    background-color:#000; 
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#000;
    min-width: 150px;
   
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:#000}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #272727;
  }

  header{
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    padding: 15px 6%;
  }
  body{
    background: var(--bg-color);
    color: var(--text-color);
  }
  .logo{font-size: 1.9rem;
        font-weight: 600;
        color: var(--text-color);
       }
  span{color: var(--main-color);}   
  
  .navlist {display: flex;}
  .navlist li{position: relative;}
  .navlist a{
             color: var(--text-color);
             font-weight: 500;
             font-size: 1rem;
             padding: 10px 20px;
           }
 .navlist a:hover::after{
                 content: '';
                 position: absolute;
                 width: 100%;
                 height: 2px;
                 background: var(--main-color);
                 left: 0;
                 bottom: -4px;
                 transition: ease .40s;
                }
 #menu-icon:hover { color: var(--main-color);
                          transition: .3s;  }
.navlist a:hover::after{width: 100%;}
                       
#menu-icon{
          font-size: 26px;
          color: var(--text-color);
          cursor: pointer;
          z-index: 10001;
         }
        /* home section*/
         section{
          padding: 120px 16% ;}
      
   .home{
          height: 100vh;
          width: 100%;
          background: url(./main\ bg.jpg);
          background-size:cover;
          background-position: center;
          position: relative;
          display: grid;
          grid-template-columns:repeat(1, 1fr) ;
          align-items: center;
         }
    .home-text{ padding-top: 120px;}
    .home-text h1{
        /*font-size: var(--bid-font);*/
        font-size: 2rem;
        color:var(--text-color);
        line-height: 1.11;
        font-weight: 800;
        letter-spacing: 1px;
        margin: 0 0 25px;
        }
   .home-text h4{
        color: var(--text-color);
        font-size: 1.5rem;
        line-height:1.21 ;
        font-weight: 700;
        margin-bottom: 40px;
       }
   .btn{
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        padding: 16px 33px;
        background: var(--main-color);
        color: var(--text-color);
        border-radius: 30px;
        border:2px solid transparent;
        text-transform: uppercase;
        transition: ease .30s;
       }
   .btn :hover{
        transform: translate(-10px);
        background: transparent;
        color:var(--main-color);
        border: 2px solid var(--main-color);
        }
    .count{
          display:flex;
          flex-wrap: wrap;
          margin-top: 100px;
         }
  .count li{
          margin-right: 55px;
          font-size: 1rem;
          font-weight: 500;
          color:var(--text-color);
         }
  .count span{
          color: var(--text-color);
          font-weight:700;
          font-size:1.8rem ;
          }
  /* about section*/
  .about{
         background-color: rgba(150, 150, 150, 0.3);
         display: grid;
         grid-template-columns: repeat(2, 2fr);
         align-items: center;
         grid-gap: 2rem;
        }
  .about-img img{
            max-width: 100%;
            width: 490px;
            height: auto;
           }
  .about-text h2{
                color: var(--second-color);
                font-size: 3rem;
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 1.2rem;
               }
  .about-text h5{
                color: var(--second-color);
                font-size: 2.3rem;
                margin-bottom: 20px;
                letter-spacing: 2px;
                }
  .about-text p{
              /* font-size: var(--p-font);*/
               font-size: 1.5rem;
               font-weight: 400;
               max-width: 570px;
               line-height: 1.8;
               color: var(--other-color);}

    .dishes{background-color:rgba(150, 150, 150, 0.3) ;}           
   .heading{ text-align: center;color: var(--main-color); }
    body {margin:25px;}
            
   div.polaroid {
              width: 300px;
              background-color:rgb(255, 241, 206,0.5);
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              margin-bottom: 25px;
              border-radius: 15px;
            }
            
  div.container {
              text-align: center;
              padding: 10px 20px;
              
            }
 .row1{ display: flex; flex-direction: row; justify-content: space-between; border-style: none;padding: 50px;border-radius: 15px;}

 .row2{display: flex; flex-direction: row; justify-content: space-between; border-style: none;padding: 50px;}

 /*review section*/
 h1{font-size: 3rem;}
 .review {background-color: rgba(150, 150, 150, 0.3);}
 
 .review .box-container{
                display: flex;
                flex-wrap: wrap;
                gap: 1.5rem;
               }
  .review .box-container .box {
      text-align: center;
      padding: 2rem;
       border: 0.3rem solid rgb(45, 36, 31);
      box-shadow: 0.5rem 0.5rem rgba(136, 134, 134, 0.3);
      border-radius: .5rem;
      flex: 1 1 30rem;
     background-color:  rgba(240, 224, 225, 0.5);
      margin-top: 6rem;
     }
     .review  .box-container  .box img{
             height: 12rem;
             width: 12rem;
             border-radius: 50%;
             border: 0.3rem solid  rgb(45, 36, 31) ;
             margin-top: -8rem;
             object-fit: cover;
            }
    .review .box-container .box h3{
              font-size: 1.5rem;
              color:  rgb(45, 36, 31);
              padding: 1rem 0;
             }
    .review .box-container .box .stars i{
           font-size: 2rem;
           color: #ee7744; ;
           padding: .5rem 0;
          }
   /*Footer*/
   .site-footer{background-color:rgba(150, 150, 150, 0.3); }
          .top-footer, .bottom-footer {
            border-top: 1px solid rgb(204 204 204 / 40%);
            position: relative;
        }
        
        .footer-logo {
            margin-bottom: 30px;
            width: 170px;
            height: 70px;
        }
        
        .footer-info .social-icon {
            margin-top: 20px;
        }
        .social-icon{display: inline; color: #ee7744;}
        .footer-flex-box {
            display: flex;
            margin: 0 -10px;
        }
        
        .footer-flex-box>div {
            flex: 1;
            padding: 0 10px;
        }
        .footer-flex-box .h3-title {
          text-transform: capitalize;
          margin-bottom: 23px;
      }
      
      .footer-menu ul li a {
          color: #0d0d25;
          transition: 0.3s;
          text-transform: capitalize;
      }
      
      .footer-menu ul li a:hover, .footer-menu ul li .footer-active-menu {
          color: #ff8243;
      }
      
      .footer-menu ul li {
          margin-bottom: 8px;
      }
      
      .footer-table-info ul li {
          margin-bottom: 10px;
          text-transform: capitalize;
      }
      
      .uil-clocl {
          font-size: 17px;
      }
      
      .copyright-text {
          padding: 20px 0;
      }
      
      .copyright-text p {color: #000;
          margin: 0;
      }
      
      .name {
          color: #ff8243;
          font-weight: bold;
      }
      h3 {color: #ee7744;}
      .scrolltop {
          position: absolute;
          bottom: 10px;
          right: 30px;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: #f3f3f5;
          box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
          color: #0f0f0f;
          font-size: 26px;
          transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
          border: none;
      }
      
      .scrolltop:hover {
          box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
          color: #0d0d25;
      }
      
      /* **************** responsiveness ***************** */
      
      @media (min-width: 2100px) {
          .container {
              max-width: 1400px;
          }
          p, body, button, input {
              font-size: 18px;
              line-height: 32px;
          }
      }
      
      @media (max-width: 1399px) {
          .h1-title {
              font-size: 80px;
              line-height: 90px;
          }
          .h3-title {
              font-size: 26px;
              line-height: 36px;
          }
          .h4-title {
              font-size: 24px;
              line-height: 34px;
          }
          .h2-title {
              font-size: 38px;
              line-height: 48px;
          }
          .team-img {
              height: 400px;
          }
          .blog-box {
              padding: 30px 20px;
          }
          .dist-bottom-row ul li b {
            font-size: 25px;
          }
      }
      
      @media (max-width: 1199px) {
          .main-banner {
              padding: 200px 0;
          }
          .banner-img-wp {
              height: 360px;
          }
          .dish-box {
              padding: 0 0 40px;
          }
          .dist-img img {
              width: 220px;
          }
          .dist-img {
              margin-top: -110px;
          }
          .dist-bottom-row ul li b {
              font-size: 28px;
          }
          .sec-text {
              padding: 0;
          }
          .team-img {
              height: 340px;
          }
          .testimonials-box {
              padding: 30px 20px;
              margin: 26px 0 30px;
          }
          .testimonials-box-img {
              min-width: 80px;
              min-height: 80px;
              margin-top: -80px;
          }
          .faq-box .h4-title {
              padding: 16px 20px;
          }
          .faq-box p {
              padding: 8px 20px 20px;
          }
          .blog-img {
              height: 240px;
          }
          .newsletter-box-text {
              padding: 0;
          }
          .footer-flex-box>div {
              padding: 0 10px;
          }
          .star-rating {
              font-size: 19px;
          }
          .testimonial-box-top {
              margin-bottom: 10px;
          }
          .call-now a {
              font-size: 28px;
          }
          .menu-box {
              padding: 50px 20px 30px 20px;
          }
          .menu-img {
              width: 140px;
          }
      }
      
        